
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

}
<div id="changePasswordSection">
    <h4 class="text-center">Đổi Mật Khẩu</h4>
    <form action="@Url.Action("ChangePassword", "Users")" method="post">
        <div class="row">
            <div class="col-md-12">
                <label for="currentPassword" class="form-label">Mật khẩu hiện tại</label>
                <div class="input-group">
                    <input type="password" id="currentPassword" name="currentPassword" class="form-control" placeholder="Nhập mật khẩu hiện tại" required />

                </div>
            </div>

            <div class="col-md-12 mt-2">
                <label for="newPassword" class="form-label">Mật khẩu mới</label>
                <div class="input-group">
                    <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="Nhập mật khẩu mới" required minlength="6"/>

                </div>
            </div>

            <div class="col-md-12 mt-2">
                <label for="confirmPassword" class="form-label">Xác nhận mật khẩu</label>
                <div class="input-group">
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Xác nhận mật khẩu" required minlength="6"/>

                </div>
            </div>
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger" style="margin-top: 10px;">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            }
            <div class="col-md-12 mt-3 text-center">
                <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
            </div>
        </div>
    </form>
</div>

