@model IEnumerable<DoAnTotNghiep_WebMinhChau.Areas.Admin.Models.CTPhieuThu>

@{
    ViewBag.Title = "ShowDetails";
    Layout = "~/Areas/Admin/Views/Shared/LayoutADMIN.cshtml";
}

<h2>Chi Tiết Phiếu Thu - Mã Phiếu Thu: @ViewBag.MaPT</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Mã Sản Phẩm</th>
            <th>Số Lượng</th>
            <th>Đơn Giá</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaSP</td>
                <td>@item.SoLuong</td>
                <td>@String.Format("{0:#,##0} VNĐ", item.DonGia)</td>
            </tr>
        }
    </tbody>
</table>

